---
import Header from "../components/Header2.jsx";
import Hero from "../components/Hero.jsx";
import Footer from "../components/Footer.jsx";
import Dashboard from "../components/Dashboard.jsx";
---

<html lang="en">
  <head>
    <title>Futuristic Recipe Hub</title>
  </head>
  <body class="bg-gray-900 text-white">
    <Header />
    <Dashboard client:load/>
    <Footer />
  </body>
</html>
